@font-face {
   font-family: 'Arial-Rounded-MT-Bold-Font';
   font-display: swap;
   src: url('file:///C:/Users/mine/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-02_213509/fonts/Arial-Rounded-MT-Bold-Font/font.zip');
}
