@font-face {
   font-family: 'lucida-calligraphy';
   font-display: swap;
   src: url('file:///C:/Users/mine/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-02_213509/fonts/lucida-calligraphy/font.zip');
}
